[submodule "thirdparty/spirv-cross"]
	path = thirdparty/spirv-cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "thirdparty/glslang"]
	path = thirdparty/glslang
	url = https://github.com/KhronosGroup/glslang.git
